asgiref==3.5.0
autopep8==1.6.0
dj-database-url==1.0.0
Django==4.0.4
django-on-heroku==1.1.2
flake8==4.0.1
gunicorn==20.1.0
mccabe==0.6.1
mypy==0.942
mypy-extensions==0.4.3
Pillow==9.1.0
psycopg2-binary==2.9.4
pycodestyle==2.8.0
pyflakes==2.4.0
python-dotenv==0.20.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
whitenoise==6.2.0
